header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(232, 221, 211);
    color: rgb(18, 45, 18);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: rgb(18, 45, 18);
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  nav a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  